@import "mixins.scss";

.main.custom-width-1200 {
    width: 95%;
    margin: 0 auto;
}

// custom footer icons
byu-social-media-links .github {
    background-image: url('../svg/github.svg');
}

byu-social-media-links .slack {
    background-image: url('../svg/slack.svg');
}

byu-social-media-links .box {
    background-image: url('../svg/box.svg');
}

// Resources view
.view-id-resources .view-content,
.view-id-features .view-content {
    display: flex;
    flex-wrap: wrap;

    .views-row {
        width: calc(100% * (1/2) - 32px);
        flex-grow: 1;
        margin: 8px 16px;
        padding: 8px;
        border: solid 1px $lightGray;
    }

    @media screen and (max-width: 876px) {
        .views-row {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
    }

    .views-field-title {
        background-color: $navy;
        font-weight: 500;
        line-height: 1.5;
        height: 44px;
        display: flex;
        align-items: center;
        margin: -8px;
        margin-bottom: 8px;
        padding-left: 16px;

        h3 {
            margin: 0 !important;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 220px;
            overflow: hidden;
            color: $white;

            a,
            a:hover {
                color: $white !important;
            }
        }
    }

    .views-field-field-cms {
        float: left;
        margin: 0 16px 8px;
    }

    .views-field-body {
        clear: left;
    }

    .views-field-view-node {
        text-align: center;
        background-color: $green;
        width: 50%;
        margin: 16px auto;
        padding: 16px;
        font-weight: 600;
        text-transform: uppercase;

        a,
        a:hover {
            color: $white;
        }
    }

    @media screen and (max-width: 425px) {
        .views-field-view-node {
            width: 80%;
        }
    }
}

.view-id-features {

    .form--inline label {
        display: block;
    }

    .form-actions .btn {
        margin-top: 25px;
    }
}

// Resouce Pages
.field--name-field-download,
.field--name-field-source-code,
.field--name-field-demo {
    float: left;
    padding: 8px 24px;
    text-transform: uppercase;

    a {
        color: $white;
    }
}

.field--name-field-source-code,
.field--name-field-demo {
    margin-left: 16px;
}

@media screen and (max-width: 460px) {
    .field--name-field-source-code,
    .field--name-field-demo {
        margin: 16px 0 0;
        clear: left;
    }
}

.field--name-field-download {
    background-color: $royal;
}

.field--name-field-source-code {
    background-color: $mediumGray;
}

.field--name-field-demo {
    background-color: $green;
}

.field--name-field-cms {
    padding-top: 16px;
    clear: left;
}

.book .field--name-body {
    padding: 16px 0 8px;
    clear: left;
}

.book nav[role="navigation"] {
    ul {
        border-top: solid 1px $gray;
        padding: 8px 0 0 0;
    }

    ul.arrow-nav {
        list-style: none;

        li {
            display: inline;
        }

        li:last-child {
            float: right;
        }
    }
}
